/* fonts start */
@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "Rubik";

  font-display: swap;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
}

@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: "Rubik";

  font-display: swap;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
}

@font-face {
  font-style: normal;
  font-weight: 800;
  font-family: "Rubik";

  font-display: swap;
  src: url("../fonts/rubik/rubik-800.woff2") format("woff2");
}

@font-face {
  font-style: normal;
  font-weight: 800;
  font-family: "Raleway";

  font-display: swap;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
}
/* fonts end */

/* variables start */
:root {
  --additional-jasmine: #ffe17f;
  --additional-lavender-indigo: #af4fff;
  --additional-supernova: #ffc700;
  --basic-black: #000000;
  --basic-cararra: #ebebeb;
  --basic-erie-black: #1a1a1a;
  --basic-gainsboro: #dcdcdc;
  --basic-gallery: #f0f0f0;
  --basic-mercury: #e5e5e5;
  --basic-tundora: #444444;
  --basic-white: #ffffff;
  --opacity-black-01: rgba(0, 0, 0, 0.1);
  --opacity-black-02: rgba(0, 0, 0, 0.2);
  --opacity-black-03: rgba(0, 0, 0, 0.3);
  --opacity-black-06: rgba(0, 0, 0, 0.6);
  --opacity-concrete-09: rgba(241,241,241, 0.9);
  --opacity-white-01: rgba(255, 255, 255, 0.1);
  --opacity-white-03: rgba(255, 255, 255, 0.3);
  --status-coral-red: #ff3d3d;
  --status-deep-saffron: #fd912e;
  --status-luck-green: #08af00;
}
/* variables end */

/* global-elements start */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-width: 1160px;
  min-height: 100%;
  margin: 0;

  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  font-family: "Rubik", sans-serif;
  color: var(--basic-black);

  background-color: var(--basic-white);
}

img {
  max-width: 100%;

  object-fit: contain;
}

button {
  cursor: pointer;
}

input[type=text]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}

input[type=text]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;

  border: 0;

  clip: rect(1px, 1px, 1px, 1px);
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.main {
  flex-grow: 1;
}

.title {
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  font-family: "Raleway", sans-serif;
}

.widescale {
  position: relative;
  z-index: 1;

  display: inline-block;

  font-weight: 800;
  font-size: 18px;
  line-height: 20px;
  font-family: "Raleway", sans-serif;
  text-align: center;
  color: var(--basic-black);
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.2em;

  outline: 0;
}

.widescale:active {
  color: var(--opacity-black-03);
}

.widescale--effect::before {
  content: "";
  position: absolute;
  top: 40%;
  left: 0;
  z-index: -1;

  width: 100%;
  height: 8px;

  background-color: var(--additional-jasmine);

  transition-duration: 0.4s;
}

.widescale--effect:focus::before {
  background-color: var(--additional-lavender-indigo);
}

.widescale--effect:hover::before {
  top: 0;

  height: 100%;
}

.widescale--effect:active::before {
  background-color: var(--additional-jasmine);
}

/* global-elements end */

/* header start */
.header {
  padding-top: 40px;
}

.header__inner {
  position: relative;

  min-height: 300px;
  padding: 0 60px;

  background-color: var(--additional-jasmine);
}

.header__inner--catalog {
  min-height: 186px;
}

.header__logo-link {
  position: absolute;
  top: -23px;
  left: 61px;

  outline: 0;
}

.header__navigation {
  padding-top: 39px;
}

/* header__top start */
.header__top {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

/* header-search start */
.header-search {
  position: relative;

  display: flex;
  height: 40px;
  margin-right: 19px;
  margin-left: -16px;
}

.header-search__label::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 16px;

  display: block;
  width: 16px;
  height: 16px;

  background-image: url(../images/search.svg);
  background-repeat: no-repeat;
}

.header-search__input {
  width: 516px;
  padding: 8px 20px;
  padding-left: 50px;

  font-size: 16px;
  line-height: 20px;
  font-family: "Rubik", sans-serif;

  background-color: transparent;
  border: 2px solid transparent;
  border-radius: 20px;
  outline: 0;
}

.header-search__input::placeholder {
  color: var(--basic-black);

  opacity: 0.3;
}

.header-search__input:hover::placeholder {
  opacity: 0.6;
}

.header-search__input:focus {
  border: 2px solid var(--additional-lavender-indigo);
}

.header-search__input:placeholder-shown ~ .header-search__submit {
  display: none;
}

.header-search__input:not(:placeholder-shown) {
  width: 356px;

  border-color: var(--basic-black);
  border-right: 0;
  border-radius: 20px 0 0 20px;
}

.header-search__submit {
  width: 160px;
  height: 40px;
  padding: 8px 8px;

  font-size: 16px;
  line-height: 20px;
  font-family: "Rubik", sans-serif;

  background-color: transparent;
  border: 2px solid var(--basic-black);
  border-radius: 0 20px 20px 0;
  outline: 0;
}

.header-search__submit:focus {
  border-color: var(--additional-lavender-indigo);
}

.header-search__submit:hover {
  color: var(--basic-white);

  background-color: var(--basic-black);
  border-color: var(--basic-black);
}

.header-search__submit:active {
  color: var(--opacity-white-03);

  border-color: var(--basic-black);
}
/* header-search end */

.header__top-link {
  position: relative;

  display: inline-block;
  padding: 8px 18px;

  font-size: 16px;
  line-height: 20px;
  color: var(--basic-black);
  text-decoration: none;

  border: 2px solid transparent;
  border-radius: 20px;
  outline: 0;
}

.header__top-link::before {
  content: "";
  position: absolute;

  display: block;

  background-repeat: no-repeat;
}

.header__top-link:hover::before {
  opacity: 0.6;
}

.header__top-link:active::before {
  opacity: 0.3;
}

.header__top-link:focus {
  border: 2px solid var(--additional-lavender-indigo);
}

.header__top-link:hover {
  color: var(--opacity-black-06);
}

.header__top-link:active {
  color: var(--opacity-black-03);

  border-color: transparent;;
}

.header__top-link--user {
  margin-right: 147px;
  padding-left: 44px;
}

.header__top-link--user::before {
  top: 11px;
  left: 19px;

  width: 13px;
  height: 12px;

  background-image: url(../images/user.svg);
}

.header__top-link-catalog--name {
  width: 170px;
  margin-right: 80px;
}

.header__top-link--log-off {
  margin-right: 11px;
  margin-left: -90px;

  color: var(--opacity-black-03);
}

.header__top-link--log-off:hover {
  color: var(--opacity-black-03);
}

.header__top-link--log-off:active {
  color: var(--opacity-black-03);
}

.header__top-link--compare {
  margin-right: 15px;
  padding-left: 39px;
}

.header__top-link--compare::before {
  top: 11px;
  left: 19px;

  width: 10px;
  height: 12px;

  background-image: url(../images/compare.svg);
}

.header__top-link--basket {
  position: absolute;

  padding-left: 44px;
}

.header__top-link--basket::before {
  top: 9px;
  left: 18px;

  width: 16px;
  height: 14px;

  background-image: url(../images/basket.svg);
}

.header__top-link--basket::after {
  content: "2";
  position: absolute;
  top: 7px;
  left: 3px;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 21px;
  height: 21px;

  font-size: 14px;
  line-height: 17px;

  background-color: var(--basic-white);
  border-radius: 50%;
}

/* header__top-basket start */
.header__top-basket {
  position: relative;
  z-index: 4;
}

.header__top-basket:hover .header__top-basket-block,
.header__top-basket:focus-within .header__top-basket-block {
  position: absolute;
  top: 41px;
  right: -191px;

  display: block;
  width: 320px;
  height: 302px;

  background-color: var(--basic-black);
  box-shadow: 0 10px 0 var(--opacity-black-01);
}

.header__top-basket-block {
  display: none;
}

.header__top-basket-block::before {
  content: "";
  position: absolute;
  top: -16px;
  left: 147px;

  width: 14px;
  height: 6px;

  background-color: transparent;
  border: 10px solid transparent;
  border-bottom: 10px solid var(--basic-black);
}

.header__top-basket-list {
  height: 168px;
  margin: 0;
  padding: 0;
  overflow-y: auto;

  list-style-type: none;
}

.header__top-basket-item {
  display: flex;
  padding: 20px;

  border-bottom: 1px solid var(--opacity-white-01);
}

.header__top-basket-link {
  display: flex;
  flex-grow: 1;

  text-decoration: none;

  outline: 0;
}

.header__top-basket-link:hover {
  opacity: 0.6;
}

.header__top-basket-link:active {
  opacity: 0.3;
}

.header__top-basket-link-image {
  margin-right: 23px;
}

.header__top-basket-link:focus .header__top-basket-link-image {
  outline: 5px solid var(--additional-lavender-indigo);
}

.header__top-basket-link:active .header__top-basket-link-image {
  outline: 5px solid transparent;
}

.header__top-basket-link-text {
  padding-top: 2px;

  font-size: 16px;
  line-height: 20px;
  color: var(--basic-white);
}

.header__top-basket-link:focus .header__top-basket-link-text {
  color: var(--additional-lavender-indigo);
}

.header__top-basket-link:active .header__top-basket-link-text {
  color: var(--basic-white);
}

.header__top-basket-button {
  position: relative;
  top: 1px;
  left: 6px;

  display: block;
  width: 23px;
  height: 23px;
  padding: 0;

  background-color: transparent;
  background-image: url(../images/delete-basket.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border: 2px solid transparent;
  border-radius: 50%;
  outline: 0;
}

.header__top-basket-button:focus {
  border: 2px solid var(--additional-lavender-indigo);
}

.header__top-basket-button:hover {
  opacity: 0.6;
}

.header__top-basket-button:active {
  border-color: transparent;
  opacity: 0.3;
}

.header__top-basket-goods {
  display: flex;
  justify-content: space-between;
  padding: 11px 22px 13px 20px;

  font-size: 16px;
  line-height: 20px;
  color: var(--basic-white);

  background-color: var(--basic-erie-black);
}

.header__top-basket-goods-text {
  margin: 0;
}

.header__top-basket-open {
  display: block;
  margin: 0 auto;
  margin-top: 19px;
  padding: 16px 21px 14px 25px;

  border: 0;
  outline: 0;
}

.header__top-basket-open:focus {
  outline: 5px solid var(--additional-lavender-indigo);
}

.header__top-basket-open:hover {
  background-color: var(--additional-jasmine);
}

.header__top-basket-open:active {
  color: var(--opacity-black-03);

  outline: 0;
}
/* header__top-basket end */

/* header__top end */

/* header__bottom start */
.header__bottom-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.header__bottom-item {
  outline: 0;
}

.header__bottom-item:nth-child(1) {
  margin-right: 274px;
  margin-left: -20px;
}

.header__bottom-item:nth-child(2) {
  margin-right: -10px;
}

.header__bottom-item:nth-child(4) {
  position: relative;
  left: 51px;
}

.header__bottom-item:nth-child(5) {
  margin-left: 520px;
}

.header__bottom-link {
  z-index: 3;

  padding: 13px 18px;

  border: 2px solid transparent;
  border-radius: 25px;
}

.header__bottom-link:hover::before {
  content: "";
  position: absolute;
  bottom: 6px;

  width: 76%;
  height: 2px;

  background-color: var(--basic-black);
}

.header__bottom-link:active::before {
  background-color: var(--opacity-black-03);
}

.header__bottom-link:focus {
  border: 2px solid var(--additional-lavender-indigo);
}

.header__bottom-link:active {
  border-color: transparent;
}

.header__bottom-link--catalog:hover::before {
  background-color: transparent;
}

.header__bottom-link--catalog::after {
  content: "";
  position: absolute;
  top: -3px;
  right: -50px;

  width: 50px;
  height: 50px;

  background-image: url(../images/plus.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border: 2px solid var(--basic-black);
  border-radius: 50%;
  opacity: 0.3;
}

.header__bottom-link--catalog:hover::after {
  background-image: url(../images/minus.svg);
  opacity: 1;
}

.header__bottom-catalog-list {
  position: absolute;
  top: 148px;
  left: 0;
  z-index: 2;

  display: none;
  width: 1160px;
  height: 184px;
  padding-top: 28px;
  padding-left: 43px;
  overflow-y: auto;

  list-style-type: none;

  background-color: var(--additional-jasmine);
}

.header__bottom-item--catalog:hover .header__bottom-catalog-list,
.header__bottom-item--catalog:focus-within .header__bottom-catalog-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
}

.header__bottom-catalog-item {
  margin-right: 12px;
  margin-bottom: 6px;
}

.header__bottom-catalog-item:nth-child(2) {
  margin-bottom: 7px;
}

.header__bottom-catalog-item:nth-child(3) {
  margin-bottom: 40px;
}

.header__bottom-catalog-item:nth-child(4) {
  margin-right: 26px;
}

.header__bottom-catalog-item:nth-child(5) {
  margin-bottom: 77px;
}

.header__bottom-catalog-link {
  display: inline-block;
  padding: 3px 15px;

  font-size: 16px;
  line-height: 18px;
  color: var(--basic-black);
  text-decoration: none;

  border: 2px solid transparent;
  border-radius: 25px;
  outline: 0;
}

.header__bottom-catalog-link:focus {
  border: 2px solid var(--additional-lavender-indigo);
}

.header__bottom-catalog-link:hover {
  color: var(--opacity-black-06);
}

.header__bottom-catalog-link:active {
  color: var(--opacity-black-03);

  border-color: transparent;
}
/* header__bottom end */

/* header end */

/* main start */
.main__inner {
  padding: 38px 60px;
}

.main__title {
  margin: 0;
  margin-bottom: 13px;
}

.main__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.main__item {
  position: relative;
}

.main__item:nth-child(1) {
  margin-right: -1px;
  margin-left: -18px;
}

.main__item:nth-child(2) {
  margin-right: -1px;
}

.main__item::before {
  content: "";
  position: absolute;
  top: 17px;
  right: -2px;

  width: 4px;
  height: 7px;

  background-image: url(../images/nav-arrow.svg);
  background-repeat: no-repeat;
}

.main__item:last-child::before {
  display: none;
}

.main__link {
  display: inline-block;
  padding: 5px 13px;

  font-size: 16px;
  line-height: 20px;
  color: var(--opacity-black-06);
  text-decoration: none;

  border: 5px solid transparent;
  outline: 0;
}

.main__link:focus {
  border-color: var(--additional-lavender-indigo);
}

.main__link:hover {
  color: var(--basic-black);
}

.main__link:active {
  color: var(--opacity-black-03);

  border-color: transparent;
}

.main__item:last-child .main__link {
  user-select: none;
}

/* Главная страница start */

/* promo-slider start */
.promo-slider {
  position: relative;
  z-index: 1;

  margin-top: -150px;
  margin-bottom: 61px;
}

.promo-slider__list {
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.promo-slider__item {
  position: relative;

  display: none;
}

.promo-slider__item::after {
  position: absolute;
  top: 83px;
  right: 49px;

  font-weight: 800;
  font-size: 180px;
  color: var(--basic-white);
}

.promo-slider__item--current:nth-child(1)::after {
  content: "01";
}

.promo-slider__item--current:nth-child(2)::after {
  content: "02";
}

.promo-slider__item--current:nth-child(3)::after {
  content: "03";
}

.promo-slider__item--current {
  display: grid;
  justify-content: space-between;

  grid-template-columns: 560px 560px;
}

.promo-slider__description {
  padding-top: 122px;
}

.promo-slider__title {
  position: relative;
  z-index: 1;

  margin: 0;
  margin-bottom: 29px;
}

.promo-slider__text {
  margin: 0;
  margin-bottom: 37px;

  color: var(--basic-tundora);
}

.promo-slider__link {
  width: 220px;
  margin-bottom: 53px;
  padding: 15px 15px 15px 19px;
}

.promo-slider__term-list {
  display: flex;
  margin: 0;
}

.promo-slider__term-block {
  margin-right: 21px;
}

.promo-slider__term-block--selfie-stick {
  margin-right: 62px;
}

.promo-slider__term-description {
  margin-bottom: 12px;

  font-size: 36px;
}

.promo-slider__term-definition {
  margin: 0;

  font-size: 16px;
  color: var(--basic-tundora);
}

.promo-slider__button {
  position: absolute;
  top: 238px;

  display: block;
  box-sizing: content-box;
  width: 20px;
  height: 60px;
  padding: 10px;

  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border: 2px solid transparent;
  border-radius: 6px;
  outline: none;
}

.promo-slider__button:focus {
  border: 2px solid var(--additional-lavender-indigo);
}

.promo-slider__button:hover {
  opacity: 0.6;
}

.promo-slider__button:active {
  border: 2px solid transparent;
  opacity: 0.3;
}

.promo-slider__button--prev {
  left: 27px;

  background-image: url(../images/left-tall-arrow.svg);
}

.promo-slider__button--next {
  right: 627px;

  background-image: url(../images/right-tall-arrow.svg);
}

.promo-slider__point-list {
  position: absolute;
  right: 80px;
  bottom: 192px;

  display: flex;
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.promo-slider__point-item {
  margin-right: 22px;
}

.promo-slider__point-item:last-child {
  margin-right: 0;
}

.promo-slider__point-button {
  display: block;
  width: 12px;
  height: 12px;
  padding: 0;

  background-color: transparent;
  border: 2px solid var(--basic-black);
  border-radius: 50%;
}

.promo-slider__point-button:focus {
  border: 2px solid var(--additional-lavender-indigo);
}

.promo-slider__point-button:hover {
  opacity: 0.6;
}

.promo-slider__point-button:active {
  border: 2px solid var(--basic-black);
  opacity: 0.3;
}

.promo-slider__point-button--active {
  background-color: var(--basic-black);
}
/* promo-slider end */

/* goods start */
.goods {
  margin-bottom: 152px;
}

.goods__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.goods__link {
  position: relative;

  display: block;
  width: 160px;
  height: 160px;
  margin-bottom: 33px;

  background-color: var(--additional-jasmine);
  outline: none;
}

.goods__link:focus {
  outline: 5px solid var(--additional-lavender-indigo);
}

.goods__link:focus + .goods__text {
  color: var(--additional-lavender-indigo);
}

.goods__link:hover {
  background-color: var(--additional-supernova);
}

.goods__link:active {
  background-color: var(--additional-supernova);
  outline: 5px solid transparent;
  opacity: 0.3;
}

.goods__link:active + .goods__text {
  color: var(--opacity-black-03);
}

.goods__image {
  position: absolute;
}

.goods__image--virtual-reality {
  top: 53px;
  left: 32px;
}

.goods__image--monopods-for-selfie {
  top: 43px;
  left: 37px;
}

.goods__image--action-cameras {
  top: 38px;
  left: 49px;
}

.goods__image--fitness-bracelets {
  top: 50px;
  left: 26px;
}

.goods__image--smart-watch {
  top: 31px;
  left: 53px;
}

.goods__image--quadrocopters {
  top: 49px;
  left: 14px;
}

.goods__text {
  display: block;
  width: 160px;

  line-height: 24px;
  font-family: "Raleway", sans-serif;
  letter-spacing: -0.02em;
}
/* goods end */

/* services start */
.services {
  margin-bottom: 90px;
  padding-bottom: 50px;

  background-image: linear-gradient(to bottom, var(--basic-white) 29px, hsl(0,0%,94.1%) 29px);
}

.services__inner {
  display: flex;
}

.services__menu-list {
  height: 320px;
  margin-top: -71px;
  margin-left: -1px;
  padding: 0;

  list-style-type: none;

  border-right: 7px solid var(--basic-black);
}

.services__menu-item {
  margin-bottom: 24px;
}

.services__menu-item:first-child {
  margin-top: 80px;
}

.services__menu-item:last-child {
  margin-bottom: 0;
}

.services__menu-button {
  width: 160px;
  padding: 10px;
  padding-left: 15px;

  border: 0;
}

.services__menu-button:active {
  color: var(--additional-jasmine);
}

.services__menu-button::before {
  background-color: var(--additional-supernova);
}

.services__menu-button--current {
  width: 278px;
  padding-left: 18px;

  text-align: left;
  color: var(--additional-jasmine);

  background-color: var(--basic-black);
  transform: translateX(1px);
}

.services__menu-button--current::before {
  background-color: transparent;
}

.services__menu-button--current:focus::before {
  background-color: transparent;
}

.services__menu-button:active::before {
  width: 278px;

  background-color: var(--basic-black);
  transform: translateX(1px);
}

.services__description-list {
  margin: 0;
  margin-left: 116px;
  padding: 0;

  list-style-type: none;
}

.services__description-item {
  display: none;
}

.services__description-item--current {
  position: relative;

  display: block;
  width: 500px;
}

.services__description-item--current::after {
  content: "";
  position: absolute;

  display: block;

  background-repeat: no-repeat;
}

.services__description-item:nth-child(1)::after {
  top: 14px;
  right: -194px;

  width: 136px;
  height: 164px;

  background-image: url(../images/delivery.svg);
}

.services__description-item:nth-child(2)::after {
  top: -10px;
  right: -214px;

  width: 171px;
  height: 195px;

  background-image: url(../images/warranty.svg);
}

.services__description-item:nth-child(3)::after {
  top: -10px;
  right: -190px;

  width: 156px;
  height: 188px;

  background-image: url(../images/credit.svg);
}

.services__description-title {
  margin: 0;
  margin-bottom: 34px;
}

.services__description-text {
  margin: 0;

  color: var(--basic-tundora);
}
/* services end */

/* rare-commodity start */
.rare-commodity {
  margin-bottom: 147px;

  text-align: center;
}

.rare-commodity__link {
  position: relative;

  display: inline-block;
  width: 1160px;
  min-height: 100px;
  padding: 40px 140px 40px 144px;

  font-weight: 800;
  font-size: 20px;
  line-height: 20px;
  font-family: "Raleway", sans-serif;
  color: var(--basic-black);
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.2em;

  background-color: var(--basic-gallery);
  outline: none;
}

.rare-commodity__link:focus {
  outline: 5px solid var(--additional-lavender-indigo);
}

.rare-commodity__link:hover {
  background-color: var(--basic-cararra);
}

.rare-commodity__link:active {
  color: var(--opacity-black-03);

  outline: 0;
}

.rare-commodity__link:before,
.rare-commodity__link::after {
  content: "";
  position: absolute;

  display: block;

  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.rare-commodity__link::before {
  top: 0;
  left: 0;

  width: 125px;
  height: 100%;

  background-color: var(--additional-jasmine);
  background-image: url(../images/delivery-car.svg);
}

.rare-commodity__link:hover::before {
  background-color: var(--additional-supernova);
}

.rare-commodity__link:active::before {
  background-image: url(../images/delivery-car-opacity.svg);
}

.rare-commodity__link::after {
  top: 29px;
  right: 33px;

  width: 40px;
  height: 40px;

  background-color: var(--basic-gainsboro);
  background-image: url(../images/info.svg);
  border-radius: 50%;
  opacity: 0.5;
}

.rare-commodity__link:hover::after {
  opacity: 1;
}

.rare-commodity__link:active::after {
  opacity: 0.3;
}
/* rare-commodity end */

/* about-section start */
.about-section {
  position: relative;

  display: flex;
  justify-content: space-between;
  padding-bottom: 73px;
}

.about-us::before,
.contacts::before {
  content: "";
  position: absolute;
  top: -50px;

  display: block;
  width: 80px;
  height: 7px;

  background-color: var(--basic-black);
}

.about-us__link,
.contacts__link {
  width: 260px;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 4px;

  text-align: center;

  outline: none;
}

/* about-us start */
.about-us {
  width: 560px;
}

.about-us__title {
  margin: 0;
  margin-bottom: 46px;
}

.about-us__description {
  margin: 0;
  margin-bottom: 31px;

  color: var(--basic-tundora);
}

.about-us__list {
  margin: 0;
  margin-top: 75px;
  margin-bottom: 58px;
  padding: 0;
  padding-left: 35px;

  list-style-type: none;
}

.about-us__item {
  position: relative;

  margin-bottom: 20px;

  font-weight: 800;
  line-height: 20px;
  letter-spacing: -0.3px;
}

.about-us__item::before {
  content: "";
  position: absolute;
  top: 5px;
  left: -34px;

  display: block;
  width: 8px;
  height: 8px;

  background-color: var(--additional-supernova);
  border-radius: 50%;
}
/* about-us end */

/* contacts start */
.contacts {
  width: 560px;
}

.contacts__title {
  margin: 0;
  margin-bottom: 46px;
}

.contacts__description {
  margin: 0;
  margin-bottom: 31px;

  color: var(--basic-tundora);
}

.contacts__subtitle {
  margin: 0;
  margin-bottom: 15px;

  font-size: 24px;
  color: var(--basic-tundora);
}

.contacts__address {
  margin-bottom: 32px;

  font-style: normal;
}

.contacts__address-text {
  margin: 0;
}

.contacts__tel {
  color: var(--basic-tundora);
}

.contacts__list {
  margin: 0;
  margin-bottom: 53px;
  padding: 0;

  list-style-type: none;
}
/* contacts end */

/* about-section end */

/* distribution start */
.distribution {
  padding-top: 76px;
  padding-bottom: 125px;

  background-color: var(--basic-gallery);
}

.distribution__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 55px;
}

.distribution__title {
  width: 560px;
  margin: 0;
}

.distribution__description {
  width: 560px;
  margin: 0;
  margin-top: 10px;

  color: var(--basic-tundora);
}

.distribution__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.distribution__form {
  display: flex;
}

.distribution__email {
  width: 600px;
  height: 55px;
  padding: 0;
  padding-top: 3px;

  font-size: 18px;
  line-height: 30px;
  font-family: "Rubik", sans-serif;
  color: var(--basic-tundora);

  background-color: transparent;
  border: 0;
  border-bottom: 3px solid var(--opacity-black-01);
  outline: none;
  opacity: 0.5;
}

.distribution__email:focus {
  background-color: var(--basic-gainsboro);
  border-bottom: 3px solid transparent;
}

.distribution__email:hover {
  border-bottom: 3px solid var(--opacity-black-02);
}

.distribution__email:active {
  background-color: transparent;
  border-bottom: 3px solid var(--basic-black);
  opacity: 1;
}

.distribution__email:not(:placeholder-shown) {
  background-color: transparent;
  border-bottom: 3px solid var(--basic-black);
  opacity: 1;
}

/* Состояние ошибки  */
.distribution__email--error {
  border-bottom: 3px solid var(--status-coral-red);
  opacity: 1;
}
/* Состояние ошибки  */

.distribution__submit {
  display: block;
  width: 260px;
  padding: 14px 14px;
  padding-left: 17px;

  background-color: transparent;
  border: 3px solid var(--opacity-black-01);
  outline: 0;
}

.distribution__submit:focus {
  border-color: var(--additional-lavender-indigo);
}

.distribution__submit:hover {
  color: var(--basic-white);

  background-color: var(--basic-black);
}

.distribution__submit:active {
  color: var(--opacity-white-03);

  border: 3px solid var(--opacity-black-01);
}

.distribution__text {
  position: relative;

  padding-left: 36px;
}

.distribution__text::before {
  content: "";
  position: absolute;
  top: 7px;
  left: 0;

  width: 14px;
  height: 14px;

  background-image: url(../images/tick-big.svg);
  background-repeat: no-repeat;
}
/* distribution end */

/* Главная страница end */

/* Каталог start */
.catalog {
  display: flex;
}

/* filters start */
.filters {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

.filters__top {
  display: flex;
  justify-content: flex-end;

  background-color: var(--basic-gainsboro);
}

.filters__title {
  width: 329px;
  margin: 0;
  padding: 25px 60px;

  font-size: 16px;
  text-align: left;
}

.filters__form-container {
  display: flex;
  justify-content: flex-end;
  height: 100%;

  background-color: var(--basic-mercury);
}

.filters__form {
  width: 269px;
  padding-top: 69px;
  padding-right: 69px;
}

.filters__block {
  margin-bottom: 52px;
  padding-top: 8px;

  border-top: 2px solid var(--basic-black);
}

.filters__field {
  margin: 0;
  padding: 0;

  border: 0;
}

.filters__subtitle {
  height: 20px;
  margin-bottom: 20px;
  padding: 0;

  font-weight: bold;
  letter-spacing: -0.02em;
}

.filters__range-scale {
  position: relative;

  height: 1px;
  margin-top: 21px;
  margin-bottom: 16px;

  background-color: var(--basic-gainsboro);
  border: 1px solid var(--basic-gainsboro);
}

.filters__range-scale-bar {
  position: absolute;

  display: flex;
  height: 3px;

  background-color: var(--basic-black);
}

.filters__range-scale-button {
  white-space: nowrap;
}

.filters__range-scale-toggle {
  position: absolute;

  display: block;
  width: 18px;
  height: 18px;
  padding: 0;

  background-color: var(--basic-cararra);
  border: 2px solid var(--basic-black);
  border-radius: 50%;
  outline: 0;
  cursor: pointer;
}

.filters__range-scale-toggle:focus {
  border-color: var(--additional-lavender-indigo);
}

.filters__range-scale-toggle:focus ~ .filters__range-label {
  color: var(--additional-lavender-indigo);
}

.filters__range-scale-toggle:focus ~ .filters__range-number {
  color: var(--additional-lavender-indigo);
}

.filters__range-scale-toggle:active {
  background-color: var(--basic-black);
  border-color: var(--basic-black);
}

.filters__range-scale-toggle:active ~ .filters__range-label {
  color: var(--basic-black);

  opacity: 1;
}

.filters__range-scale-toggle:active ~ .filters__range-number {
  color: var(--basic-black);

  opacity: 1;
}

.filters__range-scale-toggle--min {
  bottom: -7px;
  left: -1px;
}

.filters__range-scale-toggle--max {
  bottom: -7px;
  left: 109px;
}

.filters__range-label {
  margin-top: 17px;
  margin-left: -8px;

  font-size: 15px;
  line-height: 18px;
  word-spacing: -2px;

  opacity: 0.3;
}

.filters__range-number {
  width: 60px;
  margin-top: 16px;
  margin-right: 26px;
  padding: 0;
  padding-left: 3px;

  font-size: 15px;
  line-height: 18px;
  font-family: "Rubik", sans-serif;

  background-color: transparent;
  border: 0;
  outline: 0;
  opacity: 0.3;
}

.filters__block--color {
  margin-bottom: 30px;
}

.filters__list {
  margin: 0;
  margin-top: 6px;
  padding: 0;

  list-style-type: none;
}

.filters__item {
  margin-bottom: 10px;

  outline: 0;
}

.filters__item:focus .filters__checked {
  color: var(--additional-lavender-indigo);
}

.filters__item:focus .filters__checked::before {
  border-color: var(--additional-lavender-indigo);
  opacity: 1;
}

.filters__item:focus .filters__checked-input:checked + .filters__checked::before {
  background-image: url(../images/tick-lavender.svg);
}

.filters__item:hover .filters__checked-input:checked + .filters__checked::before {
  opacity: 0.5;
}

.filters__item:hover .filters__checked-input:checked + .filters__checked {
  opacity: 0.5;
}

.filters__item:active .filters__checked {
  color: var(--basic-black);

  opacity: 0.2;
}

.filters__item:active .filters__checked::before {
  border-color: var(--basic-black);
  opacity: 0.2;
}

.filters__item:active .filters__checked-input:checked + .filters__checked::before {
  background-image: url(../images/tick.svg);
}

.filters__item:focus .filters__radio {
  color: var(--additional-lavender-indigo);
}

.filters__item:focus .filters__radio::before {
  border-color: var(--additional-lavender-indigo);
  opacity: 1;
}

.filters__item:focus .filters__radio-input:checked + .filters__radio::before {
  background-image: url(../images/circle-lavender.svg);
}

.filters__item:hover .filters__radio-input:checked + .filters__radio::before {
  opacity: 0.5;
}

.filters__item:hover .filters__radio-input:checked + .filters__radio {
  opacity: 0.5;
}

.filters__item:active .filters__radio {
  color: var(--basic-black);

  opacity: 0.2;
}

.filters__item:active .filters__radio::before {
  border-color: var(--basic-black);
  opacity: 0.2;
}

.filters__item:active .filters__radio-input:checked + .filters__radio::before {
  background-image: url(../images/circle.svg);
}

.filters__item--radio {
  padding-bottom: 2px;
}

.filters__checked,
.filters__radio {
  position: relative;

  display: inline-block;
  padding-left: 37px;

  font-size: 16px;
  line-height: 20px;

  user-select: none;
}

.filters__checked::before,
.filters__radio::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;

  display: block;
  width: 20px;
  height: 20px;

  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 40% 40%;
  border: 2px solid var(--basic-black);
  border-radius: 3px;
  opacity: 0.2;
}

.filters__radio::before {
  border-radius: 50%;
}

.filters__checked-input:checked + .filters__checked::before {
  background-image: url(../images/tick.svg);
  opacity: 1;
}

.filters__radio-input:checked + .filters__radio::before {
  background-image: url(../images/circle.svg);
  opacity: 1;
}

.filters__block--bluetooth {
  margin-bottom: 28px;
}

.filters__submit {
  width: 200px;
  padding: 0;
  padding-top: 9px;
  padding-bottom: 10px;
  padding-left: 3px;

  background-color: transparent;
  border: 0;
  outline: none;
}

.filters__submit::before {
  top: 15px;

  height: calc(100% - 31px);

  background-color: var(--additional-supernova);
}

.filters__submit:active::before {
  color: var(--opacity-black-03);

  background-color: var(--additional-supernova);;
}

/* filters end */

/* products start */
.products {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

.products__top {
  display: flex;
  justify-content: flex-start;

  background-color: var(--basic-cararra);
}

.products__sort {
  display: flex;
  align-items: center;
  width: 832px;
}

.products__title {
  margin: 0;
  margin-right: 32px;
  margin-left: 72px;
  padding: 25px 0;

  font-size: 16px;
}

.products__popular-first {
  position: relative;

  display: inline-block;
  padding: 5px 41px 5px 13px;

  font-size: 16px;
  line-height: 20px;
  color: var(--basic-black);
  text-decoration: none;

  border: 5px solid transparent;
  outline: 0;
}

.products__popular-first:focus {
  border: 5px solid var(--additional-lavender-indigo);
}

.products__popular-first:hover {
  color: var(--opacity-black-06);
}

.products__popular-first:active {
  border-color: transparent;
  opacity: 0.3;
}

.products__popular-first::before {
  content: "";
  position: absolute;
  top: 13px;
  right: 15px;

  width: 11px;
  height: 6px;

  background-image: url(../images/dropdown.svg);
  background-repeat: no-repeat;
}

.products__popular-first:hover::before {
  opacity: 0.6;
}

.products__sort-list {
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.products__arrow {
  position: relative;

  display: block;
  width: 30px;
  height: 30px;

  outline: 0;
}

.products__arrow:focus {
  outline: 5px solid var(--additional-lavender-indigo);
}

.products__arrow:hover .products__arrow-svg {
  opacity: 0.5;
}

.products__arrow:active .products__arrow-svg {
  opacity: 1;
}

.products__arrow--up {
  top: 0;
  left: 300px;
}

.products__arrow--down {
  top: 0;
  left: 300px;
}

.products__arrow svg {
  position: relative;
  left: 10px;
}

.products__arrow-svg--up {
  opacity: 0.2;
}

.products__list {
  display: grid;
  width: 832px;
  margin: 0;
  margin-bottom: 48px;
  padding: 0;
  padding-top: 69px;
  padding-left: 72px;

  list-style-type: none;

  gap: 40px;
  grid-row-gap: 49px;
  grid-template-columns: 1fr 1fr;
}

.products__item {
  position: relative;

  display: flex;
  flex-direction: column;

  outline: 0;
}

.products__item:focus {
  color: var(--additional-lavender-indigo);
}

.products__item:focus .products__link {
  outline: 5px solid var(--additional-lavender-indigo);
}

.products__item .products__details-block {
  position: absolute;
  top: 0;
  left: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  width: 360px;
  height: 380px;
  padding-top: 171px;
}

.products__item:hover .products__details-block {
  opacity: 1;
}

.products__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.products__subtitle {
  width: 280px;
  margin: 0;

  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.02em;
}

.products__price {
  align-self: flex-start;
}

.products__link {
  position: relative;

  display: flex;
  order: -1;
  margin-bottom: 30px;
}

.products__link--new::before {
  position: absolute;
  top: 27px;
  content: "";
  right: 27px;

  width: 60px;
  height: 60px;
  background-image: url(../images/new.svg);
  background-repeat: no-repeat;
}

.products__details-block {
  position: absolute;
  top: 171px;
  left: 90px;
  z-index: 1;
}

.products__details-block:hover {
  background-color: rgba(240,240,240,0.8);
}

.products__details {
  display: none;
  width: 180px;
  padding: 10px;

  text-align: center;
}

.products__details-block:hover .products__details {
  display: inline-block;
}

.products__details:before {
  top: 16px;

  height: calc(100% - 32px);

  background-color: var(--additional-supernova);
}

.products__details:active::before {
  background-color: var(--additional-supernova);
}

.products__download {
  display: block;
  width: 760px;
  margin-bottom: 52px;
  margin-left: 70px;
  padding: 14px;
  padding-left: 20px;

  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  font-family: "Raleway", sans-serif;
  color: var(--basic-black);
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.2em;

  background-color: transparent;
  border: 3px solid var(--opacity-black-01);
  outline: 0;
}

.products__download:focus {
  border-color: var(--additional-lavender-indigo);
}

.products__download:hover {
  border-color: var(--basic-black);
}

.products__download:active {
  border-color: var(--opacity-black-01);
  opacity: 0.3;
}

.products__pagination {
  display: flex;
  align-items: center;
  width: 760px;
  margin-bottom: 77px;
  margin-left: 70px;

  background-color: var(--basic-cararra);
}

.products__pagination-button {
  padding: 20px;
  padding-left: 24px;

  font-size: 16px;

  border: 5px solid transparent;
  outline: 0;
}

.products__pagination-button:focus {
  border-color: var(--additional-lavender-indigo);
}

.products__pagination-button:hover {
  background-color: var(--basic-gainsboro);
}

.products__pagination-button:active {
  border-color: transparent;
  opacity: 0.3;
}

.products__pagination-button--back {
  margin-right: 50px;
}

.products__pagination-button--forward {
  order: 1;
}

.products__pagination-list {
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.products__pagination-link {
  display: inline-block;
  width: 38px;
  height: 38px;

  font-size: 16px;
  text-align: center;
  color: var(--opacity-black-03);
  text-decoration: none;

  border: 5px solid transparent;
  outline: 0;
}

.products__pagination-link:focus {
  border-color: var(--additional-lavender-indigo);
}

.products__pagination-link:hover {
  color: var(--basic-black);
}

.products__pagination-link:active {
  color: var(--opacity-black-01);

  border-color: transparent;
}
/* products end */

/* Каталог end */

/* main end */

/* footer start */
.footer {
  background-color: var(--basic-tundora);
}

.footer__inner {
  position: relative;

  padding-top: 62px;
  padding-bottom: 61px;
}

.footer__inner::before {
  content: "";
  position: absolute;
  bottom: 86px;
  left: 20px;

  width: 80px;
  height: 7px;

  background-color: var(--additional-supernova);
}

.footer__logo-link {
  display: flex;
  margin-bottom: 36px;
}

.footer__navigation {
  position: relative;

  display: flex;
  margin-bottom: 46px;
}

.footer__navigation-text {
  margin: 0;
  margin-right: 104px;

  font-size: 16px;
  line-height: 20px;
  color: var(--basic-white);
}

.footer__navigation-list {
  display: flex;
  flex-wrap: wrap;
  width: 500px;
  margin: 0;
  margin-top: -11px;
  padding: 0;

  list-style-type: none;
}

.footer__navigation-item {
  margin-right: -12px;
}

.footer__navigation-link {
  padding: 13px 18px;

  color: var(--basic-white);

  border: 2px solid transparent;
  border-radius: 25px;
  outline: 0;
}

.footer__navigation-link:focus {
  border: 2px solid var(--additional-lavender-indigo);
}

.footer__navigation-link:hover {
  color: var(--additional-supernova);
}

.footer__navigation-link:hover::before {
  content: "";
  position: absolute;
  bottom: 6px;

  width: 76%;
  height: 2px;

  background-color: var(--additional-supernova);
}

.footer__navigation-link:active {
  border-color: transparent;
  opacity: 0.3;
}

.footer__navigation-tel {
  position: absolute;
  top: 0;
  right: 0;

  display: inline-block;
  margin-right: -16px;
  margin-left: 56px;
  padding: 2px 13px;

  font-size: 16px;
  line-height: 20px;
  color: var(--basic-white);
  text-decoration: none;

  border: 2px solid transparent;
  border-radius: 25px;
  outline: 0;
}

.footer__navigation-tel:focus {
  border: 2px solid var(--additional-lavender-indigo);
}

.footer__navigation-tel:hover {
  color: var(--additional-supernova);
}

.footer__navigation-tel:active {
  border-color: transparent;
  opacity: 0.3;
}

.footer__social-block {
  width: 150px;
  margin: 0 auto;
}

.footer__social {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.footer__social-link {
  position: relative;

  display: inline-block;
  width: 40px;
  height: 40px;

  background-color: var(--opacity-white-03);
  border-radius: 50%;
  outline: 0;
}

.footer__social-link:focus {
  background-color: transparent;
}

.footer__social-link svg {
  position: absolute;
}

.footer__social-link--fb svg {
  top: 11px;
  left: 16px;
}

.footer__social-link--in svg {
  top: 12px;
  left: 12px;
}

.footer__social-link--tw svg {
  top: 13px;
  left: 13px;
}

.footer__social-link:focus svg path {
  fill: var(--basic-white);
}

.footer__social-link:focus::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;

  display: inline-block;
  width: 45px;
  height: 45px;

  border: 5px solid var(--additional-lavender-indigo);
  border-radius: 50%;
}

.footer__social-link:hover {
  background-color: var(--additional-supernova);
}

.footer__social-link:active svg path {
  opacity: 0.3;

  fill: var(--basic-tundora);
}

.footer__social-link:active::before {
  border-color: transparent;
}

.footer__htmlacademy-link {
  position: absolute;
  right: 8px;
  bottom: 63px;

  display: flex;
  padding: 8px;

  border: 2px solid transparent;
  border-radius: 10px;
  outline: 0;
}

.footer__htmlacademy-link:focus {
  border-color: var(--additional-lavender-indigo);
}

.footer__htmlacademy-link:active {
  border-color: transparent;
}

.footer__htmlacademy-link:hover svg path {
  fill: var(--basic-white);
}

.footer__htmlacademy-link:active svg path {
  opacity: 0.3;
}
/* footer end */

/* modal-window start */
.modal-window {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;

  display: none;
  width: 100%;
  height: 100%;

  background-color: var(--opacity-concrete-09);
}

.modal-window--active {
  display: flex;
}

.modal-window__order {
  position: relative;
  top: 10%;

  width: 920px;
  margin: auto;
  padding: 62px 70px 66px;

  background-color: var(--basic-white);
  border: 10px solid var(--basic-black);
  box-shadow: 0 10px 0 var(--opacity-black-01);
}

.modal-window__title {
  margin: 0;
  margin-bottom: 68px;
}

.modal-window__close {
  content: "";
  position: absolute;
  top: 66px;
  right: 58px;

  display: block;
  width: 50px;
  height: 50px;
  padding: 0;

  background-color: transparent;
  background-image: url(../images/modal-close.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border: 5px solid transparent;
  border-radius: 50%;
  outline: 0;
}

.modal-window__close:focus {
  border: 5px solid var(--additional-lavender-indigo);
}

.modal-window__close:hover {
  opacity: 0.6;
}

.modal-window__close:active {
  border-color: transparent;
  opacity: 0.3;
}

.modal-window__data {
  display: flex;
  justify-content: space-between;
  margin-bottom: 14px;
}

.modal-window__data--addition {
  margin-bottom: 46px;
}

.modal-window__data-number {
  position: relative;

  display: flex;
  flex-direction: column;
}

.modal-window__field {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.modal-window__field--number {
  flex-direction: row;

  background-color: var(--basic-gallery);
}

.modal-window__field--number:focus {
  outline: 5px solid var(--additional-lavender-indigo);
}

.modal-window__field--number:hover {
  background-color: var(--basic-cararra);
}

.modal-window__field--number:active {
  outline: 3px solid var(--basic-black);
}

.modal-window__label {
  padding-bottom: 14px;

  font-weight: 800;
  line-height: 20px;
  letter-spacing: -0.02em;
}

.modal-window__label--number {
  position: relative;

  padding-right: 26px;
}

.modal-window__input {
  width: 360px;
  margin-bottom: 6px;
  padding: 17px 47px 17px 17px;

  font-size: 16px;
  line-height: 20px;
  font-family: "Rubik", sans-serif;

  background-color: var(--basic-gallery);
  background-repeat: no-repeat;
  background-position: 324px center;
  border: 3px solid transparent;
  outline: 0;
}

.modal-window__input::placeholder {
  font-size: 16px;
  color: var(--opacity-black-06);
}

.modal-window__input:focus {
  outline: 5px solid var(--additional-lavender-indigo);
}

.modal-window__input:hover {
  background-color: var(--basic-cararra);
}

.modal-window__input:not(:placeholder-shown) {
  border: 3px solid var(--basic-black);
  outline: 0;
}

.modal-window__input--name {
  background-image: url(../images/user-window.svg);
}

.modal-window__input--email {
  background-image: url(../images/email-window.svg);
}

.modal-window__input--description {
  width: 560px;
  margin-bottom: 0;
}

.modal-window__under {
  font-size: 14px;
  line-height: 20px;
}

.modal-window__under--name {
  color: var(--status-coral-red);
}

.modal-window__info {
  position: absolute;
  top: -2px;
  right: 13px;

  width: 26px;
  height: 26px;

  background-color: var(--additional-jasmine);
  background-image: url(../images/info.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border-radius: 50%;
  outline: 0;
  cursor: pointer;
}

.modal-window__info:hover + .modal-window__info-description,
.modal-window__info:focus-within + .modal-window__info-description {
  position: absolute;
  top: 33px;
  left: -20px;

  display: block;
  width: 200px;
  height: 160px;
  padding: 20px 18px 0;

  font-size: 16px;
  line-height: 20px;
  color: var(--basic-white);

  background-color: var(--basic-black);
}

.modal-window__info-description {
  display: none;
}

.modal-window__info-description::before {
  content: "";
  position: absolute;
  top: -16px;
  left: 145px;

  width: 14px;
  height: 6px;

  background-color: transparent;
  border: 10px solid transparent;
  border-bottom: 10px solid var(--basic-black);
}

.modal-window__info-text {
  margin: 0;
}

.modal-window__button {
  width: 50px;
  height: 60px;
  padding: 0;

  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border: 0;
  outline: 0;
}

.modal-window__button--minus {
  background-image: url(../images/minus-window.svg);
}

.modal-window__button--plus {
  background-image: url(../images/plus-window.svg);
}
.modal-window__number {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;

  font-size: 16px;
  line-height: 20px;

  background-color: transparent;
}

.modal-window__submit {
  width: 200px;
  padding: 10px;

  background-color: transparent;
  border: 0;
}

.modal-window__submit::before {
  background-color: var(--additional-supernova);
}

.modal-window__submit:active::before {
  background-color: var(--additional-supernova);
}

/* Состояние ошибки */
.modal-window__input--error {
  border: 3px solid var(--status-coral-red);
}

.modal-window__under--error {
  color: var(--status-coral-red);
}

.modal-window__field--error:active {
  outline: 3px solid var(--status-coral-red);
}
/* Состояние ошибки */

/* modal-window end */
