/* fonts start */
@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "Rubik";

  font-display: swap;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
}

@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: "Rubik";

  font-display: swap;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
}

@font-face {
  font-style: normal;
  font-weight: 800;
  font-family: "Rubik";

  font-display: swap;
  src: url("../fonts/rubik/rubik-800.woff2") format("woff2");
}

@font-face {
  font-style: normal;
  font-weight: 800;
  font-family: "Raleway";

  font-display: swap;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
}
/* fonts end */

/* variables start */
:root {
  --additional-jasmine: #ffe17f;
  --additional-lavender-indigo: #af4fff;
  --additional-supernova: #ffc700;
  --basic-black: #000000;
  --basic-cararra: #ebebeb;
  --basic-erie-black: #1a1a1a;
  --basic-gainsboro: #dcdcdc;
  --basic-gallery: #f0f0f0;
  --basic-mercury: #e5e5e5;
  --basic-tundora: #444444;
  --basic-white: #ffffff;
  --status-coral-red: #ff3d3d;
  --status-deep-saffron: #fd912e;
  --status-luck-green: #08af00;
}
/* variables end */

/* global-elements start */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-width: 1160px;
  min-height: 100%;
  margin: 0;

  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  font-family: "Rubik", sans-serif;
  color: var(--basic-black);

  background-color: var(--basic-white);
}

img {
  max-width: 100%;

  object-fit: contain;
}

button {
  cursor: pointer;
}

input[type=text]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}

input[type=text]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;

  border: 0;

  clip: rect(1px, 1px, 1px, 1px);
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.main {
  flex-grow: 1;
}

.title {
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  font-family: "Raleway", sans-serif;
}

.link {
  position: relative;
  z-index: 1;

  display: block;
  max-width: 280px;

  font-weight: 800;
  font-size: 18px;
  line-height: 20px;
  font-family: "Raleway", sans-serif;
  color: var(--basic-black);
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.2em;
}

.link--effect::before {
  content: "";
  position: absolute;
  top: 20px;
  left: 0;
  z-index: -1;

  width: 100%;
  height: calc(100% - 40px);

  background-color: var(--additional-jasmine);

  transition-duration: 0.4s;
}

.link--effect:hover::before {
  top: 0;

  height: 100%;
}

.link--effect:focus::before {
  background-color: var(--additional-lavender-indigo);
}

.link--effect:active::before {
  background-color: var(--additional-jasmine);
}
/* global-elements end */

/* header start */
.header {
  padding-top: 40px;
}

.header__inner {
  position: relative;

  min-height: 300px;
  padding: 0 60px 0;

  background-color: var(--additional-jasmine);
}

.header__logo-link {
  position: absolute;
  top: -23px;
  left: 61px;

  display: flex;
}

.header__navigation {
  padding-top: 39px;
}

.header__top {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

/* header-search start */
.header-search {
  position: relative;

  display: flex;
  margin-right: 19px;
  margin-left: -16px;
}

.header-search__label::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 16px;

  display: block;
  width: 16px;
  height: 16px;

  background-image: url(../images/search.svg);
  background-repeat: no-repeat;
}

.header-search__input {
  width: 516px;
  padding: 8px 20px;
  padding-left: 50px;

  font-size: 16px;
  line-height: 20px;
  font-family: "Rubik", sans-serif;

  background-color: transparent;
  border: 2px solid transparent;
  outline: 0;
}

.header-search__input:focus {
  border: 2px solid var(--additional-lavender-indigo);
  border-radius: 20px;
}

.header-search__input:not(:placeholder-shown) {
  width: 356px;

  border-color: var(--basic-black);
  border-right: 0;
  border-radius: 20px 0 0 20px;
}

.header-search__input:placeholder-shown ~ .header-search__submit {
  display: none;
}

.header-search__input::placeholder {
  color: var(--basic-black);

  opacity: 0.3;
}

.header-search__input:hover::placeholder {
  opacity: 0.6;
}

.header-search__submit {
  width: 160px;
  height: 40px;
  padding: 0;

  font-size: 16px;
  line-height: 20px;
  font-family: "Rubik", sans-serif;

  background-color: transparent;
  border: 2px solid var(--basic-black);
  border-radius: 0 20px 20px 0;
  outline: 0;
}

.header-search__submit:focus {
  border-color: var(--additional-lavender-indigo);
}

.header-search__submit:hover {
  color: var(--basic-white);

  background-color: var(--basic-black);
  border-color: var(--basic-black);
}

.header-search__submit:active {
  border-color: var(--basic-black);
}

.header-search__submit-text {
  display: inline-block;
  width: 160px;
  padding: 8px 8px;
}

.header-search__submit-text:active {
  opacity: 0.3;
}
/* header-search end */

.header__top-link {
  position: relative;

  display: inline-block;
  padding: 8px;

  font-size: 16px;
  line-height: 20px;
  color: var(--basic-black);
  text-decoration: none;

  border: 2px solid transparent;
  border-radius: 20px;
  outline: 0;
}

.header__top-link:hover {
  border-color: transparent;
  opacity: 0.6;
}

.header__top-link:focus {
  border: 2px solid var(--additional-lavender-indigo);
}

.header__top-link:active {
  border-color: transparent;
  opacity: 0.3;
}

.header__top-link::before {
  content: "";
  position: absolute;
  top: 11px;

  display: block;
  height: 12px;

  background-repeat: no-repeat;
}

.header__top-link--user {
  margin-right: 155px;
  padding-left: 44px;
}

.header__top-link--user::before {
  left: 19px;

  width: 13px;

  background-image: url(../images/user.svg);
}

.header__top-link--log-off {
  margin-right: 10px;
  margin-left: -136px;

  color: rgba(0, 0, 0, 0.3);
}

.header__top-link--compare {
  margin-right: 25px;
  padding-left: 41px;
}

.header__top-link--compare::before {
  left: 21px;

  width: 10px;

  background-image: url(../images/compare.svg);
}

.header__top-link--basket {
  position: absolute;

  padding-left: 44px;
}

.header__top-link--basket::after {
  content: "2";
  position: absolute;
  top: 7px;
  left: 3px;

  width: 21px;
  height: 21px;

  font-size: 14px;
  text-align: center;

  background-color: var(--basic-white);
  border-radius: 50%;
}

.header__top-link--basket::before {
  top: 9px;
  left: 18px;

  width: 16px;
  height: 14px;

  background-image: url(../images/basket.svg);
}

/* header__top-basket start */
.header__top-basket-block {
  position: relative;
  z-index: 3;

  outline: 0;
}

.header__top-basket-block:hover .header__top-basket,
.header__top-basket-block:focus-within .header__top-basket {
  position: absolute;
  top: 41px;
  right: -70px;

  display: block;
  width: 320px;
  height: 302px;

  background-color: var(--basic-black);
  box-shadow: 0 10px 0 rgba(0, 0, 0, 0.1);
}

.header__top-basket-block:focus .header__top-link--basket {
  border: 2px solid var(--additional-lavender-indigo);
}

.header__top-basket {
  display: none;
}

.header__top-basket::before {
  content: "";
  position: absolute;
  top: -16px;
  left: 147px;

  width: 14px;
  height: 6px;

  background-color: transparent;
  border: 10px solid transparent;
  border-bottom: 10px solid var(--basic-black);
}

.header__top-basket-list {
  height: 167px;
  margin: 0;
  padding: 0;
  overflow-y: auto;

  list-style-type: none;
}

.header__top-basket-item {
  display: flex;
  padding: 20px;
}

.header__top-basket-item:first-child {
  border-bottom: 1px solid rgb(255,255,255, 0.1);
}

.header__top-basket-link {
  display: flex;
  flex-grow: 1;

  text-decoration: none;

  outline: 0;
}

.header__top-basket-link:hover {
  opacity: 0.6;
}

.header__top-basket-link:active {
  opacity: 0.3;
}

.header__top-basket-link:focus .header__top-basket-link-text {
  color: var(--additional-lavender-indigo);
}

.header__top-basket-link:focus .header__top-basket-image {
  outline: 5px solid var(--additional-lavender-indigo);
}

.header__top-basket-link:active .header__top-basket-link-text {
  color: var(--basic-white);
}

.header__top-basket-link:active .header__top-basket-image {
  outline: 5px solid transparent;
}

.header__top-basket-image {
  margin-right: 23px;
}

.header__top-basket-link-text {
  padding-top: 2px;

  font-size: 16px;
  line-height: 20px;
  color: var(--basic-white);
}

.header__top-basket-button {
  position: relative;
  left: 6px;

  display: block;
  width: 23px;
  height: 23px;
  padding: 0;

  background-color: transparent;
  background-image: url(../images/delete-white.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border: 0;
  border: 2px solid transparent;
  border-radius: 50%;
  outline: 0;
}

.header__top-basket-button:focus {
  border: 2px solid var(--additional-lavender-indigo);
}

.header__top-basket-button:hover {
  opacity: 0.6;
}

.header__top-basket-button:active {
  border-color: transparent;
  opacity: 0.3;
}

.header__top-basket-block-text {
  display: flex;
  justify-content: space-between;
  padding: 12px 0;

  font-size: 16px;
  line-height: 20px;
  color: var(--basic-white);

  background-color: var(--basic-erie-black);
}

.header__top-basket-text {
  width: 140px;
  margin: 0;
}

.header__top-basket-text:first-child {
  margin-left: 20px;
}

.header__top-basket-text:last-child {
  margin-right: 20px;

  text-align: right;
}

.header__top-basket-open {
  display: block;
  width: 280px;
  margin: 0 auto;
  margin-top: 20px;
  padding: 15px 15px;

  background-color: var(--basic-white);
  border: 0;
}

.header__top-basket-open:focus {
  outline: 5px solid var(--additional-lavender-indigo);
}

.header__top-basket-open:hover {
  background-color: var(--additional-jasmine);
}

.header__top-basket-open:active {
  color: rgba(0,0,0, 0.3);

  outline: 0;
}
/* header__top-basket end */

.header__bottom-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.header__bottom-item:nth-child(1) {
  margin-right: 274px;
  margin-left: -20px;
}

.header__bottom-item:nth-child(2) {
  margin-right: -10px;
}

.header__bottom-item:nth-child(4) {
  position: relative;
  left: 51px;
}

.header__bottom-item--catalog:focus {
  outline: 0;
}

.header__bottom-link {
  position: relative;

  display: inline-block;
  padding: 13px 18px;

  font-weight: 800;
  font-size: 18px;
  line-height: 20px;
  font-family: "Raleway", sans-serif;
  color: var(--basic-black);
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.2em;

  border: 2px solid transparent;
  border-radius: 25px;
  outline: 0;
}

.header__bottom-link:focus {
  border: 2px solid var(--additional-lavender-indigo);
}

.header__bottom-link:active {
  border-color: transparent;
  opacity: 0.3;
}

.header__bottom-link:hover::before {
  content: "";
  position: absolute;
  bottom: 6px;

  width: 76%;
  height: 2px;

  background-color: var(--basic-black);
}

.header__bottom-link--catalog {
  position: relative;
}

.header__bottom-link--catalog::after {
  content: "";
  position: absolute;
  top: -3px;
  right: -50px;

  width: 50px;
  height: 50px;

  background-image: url(../images/plus.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border: 2px solid var(--basic-black);
  border-radius: 50%;
  opacity: 0.2;
}

.header__bottom-link--catalog:hover::after {
  background-image: url(../images/minus.svg);
  opacity: 1;
}

.header__bottom-link--catalog:hover::before {
  background-color: transparent;
}

.header__bottom-catalog-list {
  position: absolute;
  top: 150px;
  left: 0;
  z-index: 2;

  display: none;
  width: 1160px;
  height: 180px;
  margin: 0;
  padding: 0;
  padding-top: 26px;
  padding-left: 43px;
  overflow-y: auto;

  list-style-type: none;

  background-color: var(--additional-jasmine);
}

.header__bottom-item--catalog:hover .header__bottom-catalog-list,
.header__bottom-item--catalog:focus-within .header__bottom-catalog-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
}

.header__bottom-catalog-item {
  margin-right: 12px;
  margin-bottom: 6px;
}

.header__bottom-catalog-item:nth-child(3) {
  margin-bottom: 40px;
}

.header__bottom-catalog-item:nth-child(4) {
  margin-right: 26px;
}

.header__bottom-catalog-item:nth-child(5) {
  margin-bottom: 70px;
}

.header__bottom-catalog-link {
  display: inline-block;
  padding: 3px 15px;

  font-size: 16px;
  line-height: 18px;
  color: var(--basic-black);
  text-decoration: none;

  border: 2px solid transparent;
  outline: 0;
}

.header__bottom-catalog-link:hover {
  opacity: 0.6;
}

.header__bottom-catalog-link:focus {
  border: 2px solid var(--additional-lavender-indigo);
  border-radius: 25px;
}

.header__bottom-catalog-link:active {
  border-color: transparent;
  opacity: 0.3;
}
/* header end */

/* main start */

/* promo-slider start */
.promo-slider {
  position: relative;
  z-index: 1;

  margin-top: -150px;
  margin-bottom: 61px;
}

.promo-slider__list {
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.promo-slider__item {
  position: relative;

  display: none;
}

.promo-slider__item::after {
  position: absolute;
  top: 83px;
  right: 49px;

  font-weight: 800;
  font-size: 180px;
  line-height: 30px;
  font-family: "Rubik", sans-serif;
  color: var(--basic-white);
}

.promo-slider__item--current {
  display: grid;
  justify-content: space-between;

  grid-template-columns: 560px 560px;
}

.promo-slider__item--current:nth-child(1)::after {
  content: "01";
}

.promo-slider__item--current:nth-child(2)::after {
  content: "02";
}

.promo-slider__item--current:nth-child(3)::after {
  content: "03";
}

.promo-slider__description {
  padding-top: 122px;
}

.promo-slider__subtitle {
  position: relative;
  z-index: 2;

  margin: 0;
  margin-bottom: 29px;
}

.promo-slider__text {
  margin: 0;
  margin-bottom: 37px;

  color: var(--basic-tundora);
}

.promo-slider__link {
  display: inline-block;
  width: 220px;
  margin-bottom: 55px;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 3px;

  text-align: center;

  outline: none;
}

.promo-slider__link:active {
  opacity: 0.3;
}

.promo-slider__term-list {
  display: flex;
  margin: 0;
}

.promo-slider__term-block {
  margin-right: 21px;
}

.promo-slider__term-block--margin {
  margin-right: 62px;
}

.promo-slider__term-description {
  margin-bottom: 12px;

  font-size: 36px;
}

.promo-slider__term-definition {
  margin: 0;

  font-size: 16px;
  color: var(--basic-tundora);
}

.promo-slider__button {
  position: absolute;
  top: 238px;

  display: inline-block;
  box-sizing: content-box;
  width: 20px;
  height: 60px;
  padding: 10px;

  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border: 2px solid transparent;
  border-radius: 6px;
  outline: none;
}

.promo-slider__button:focus {
  border: 2px solid var(--additional-lavender-indigo);
}

.promo-slider__button:hover {
  opacity: 0.6;
}

.promo-slider__button:active {
  border: 2px solid transparent;
  opacity: 0.3;
}

.promo-slider__button--prev {
  left: 27px;

  background-image: url(../images/left-tall-arrow.svg);
}

.promo-slider__button--next {
  right: 627px;

  background-image: url(../images/right-tall-arrow.svg);
}

.promo-slider__point-list {
  position: absolute;
  right: 80px;
  bottom: 192px;

  display: flex;
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.promo-slider__point-item {
  margin-right: 22px;
}

.promo-slider__point-item:last-child {
  margin-right: 0;
}

.promo-slider__point-button {
  display: block;
  width: 12px;
  height: 12px;
  padding: 0;

  background-color: transparent;
  border: 2px solid var(--basic-black);
  border-radius: 50%;
}

.promo-slider__point-button:hover {
  opacity: 0.6;
}

.promo-slider__point-button:focus {
  border: 2px solid var(--additional-lavender-indigo);
}

.promo-slider__point-button--active:focus {
  border: 2px solid var(--basic-black);
}

.promo-slider__point-button:active {
  border: 2px solid var(--basic-black);
  opacity: 0.3;
}

.promo-slider__point-button--active {
  background-color: var(--basic-black);
}
/* promo-slider end */

/* goods start */
.goods {
  margin-bottom: 152px;
}

.goods__list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.goods__link {
  position: relative;

  display: block;
  width: 160px;
  height: 160px;
  margin-bottom: 33px;

  background-color: var(--additional-jasmine);
  outline: none;
}

.goods__link:hover {
  background-color: var(--additional-supernova);
}

.goods__link:focus {
  outline: 5px solid var(--additional-lavender-indigo);
}

.goods__link:focus + .goods__text {
  color: var(--additional-lavender-indigo);
}

.goods__link:active {
  background-color: var(--additional-supernova);
  outline: 5px solid transparent;
  opacity: 0.3;
}

.goods__link:active + .goods__text {
  color: var(--basic-black);

  opacity: 0.3;
}

.goods__image {
  position: absolute;
}

.goods__image--virtual-reality {
  top: 53px;
  left: 32px;
}

.goods__image--monopods-for-selfie {
  top: 43px;
  left: 37px;
}

.goods__image--action-cameras {
  top: 38px;
  left: 49px;
}

.goods__image--fitness-bracelets {
  top: 50px;
  left: 26px;
}

.goods__image--smart-watch {
  top: 31px;
  left: 53px;
}

.goods__image--quadrocopters {
  top: 49px;
  left: 14px;
}

.goods__text {
  display: block;
  width: 160px;

  font-size: 18px;
  line-height: 24px;
  font-family: "Raleway", sans-serif;
  letter-spacing: -0.02em;
}
/* goods end */

/* services start */
.services {
  margin-bottom: 90px;
  padding-bottom: 68px;

  background-image: linear-gradient(to bottom, var(--basic-white) 29px, hsl(0,0%,94.1%) 29px);
}

.services__inner {
  display: flex;
}

.services__menu-list {
  position: relative;
  left: -1px;

  height: 320px;
  margin: 0;
  margin-top: -71px;
  padding: 0;

  list-style-type: none;

  border-right: 7px solid var(--basic-black);
}

.services__menu-item:nth-child(1) {
  margin-top: 80px;
  margin-bottom: 26px;
}

.services__menu-item:nth-child(2) {
  margin-bottom: 26px;
}

.services__menu-item:last-child {
  margin-bottom: 0;
}

.services__menu-button {
  width: 160px;
  padding: 0;
  padding-top: 9px;
  padding-bottom: 10px;
  padding-left: 3px;

  text-align: center;

  background-color: transparent;
  border: 0;
  outline: none;
  transform: translateX(1px);
}

.services__menu-button:active {
  color: var(--additional-jasmine);
}

.services__menu-button::before {
  background-color: var(--additional-supernova);
}

.services__menu-button:active::before {
  width: 278px;
  padding-left: 18px;

  text-align: left;

  background-color: var(--basic-black);
  transform: translateX(1px);
}

.services__menu-button--current {
  width: 278px;
  padding-left: 18px;

  text-align: left;
  color: var(--additional-jasmine);

  background-color: var(--basic-black);
  transform: translateX(1px);
}

.services__menu-button--current::before {
  background-color: transparent;
}

.services__menu-button--current:focus::before {
  background-color: transparent;
}

.services__menu-button--current::before {
  background-color: transparent;
}

.services__description-list {
  margin: 0;
  margin-left: 116px;
  padding: 0;

  list-style-type: none;
}

.services__description-item {
  display: none;
}

.services__description-item::after {
  background-repeat: no-repeat;
}

.services__description-item:nth-child(1)::after {
  top: 14px;
  right: -194px;

  width: 136px;
  height: 164px;

  background-image: url(../images/delivery.svg);
}

.services__description-item:nth-child(2)::after {
  top: -10px;
  right: -214px;

  width: 171px;
  height: 195px;

  background-image: url(../images/warranty.svg);
}

.services__description-item:nth-child(3)::after {
  top: -10px;
  right: -190px;

  width: 156px;
  height: 188px;

  background-image: url(../images/credit.svg);
}

.services__description-item--current {
  position: relative;

  display: block;
  width: 500px;
}

.services__description-item--current::after {
  content: "";
  position: absolute;

  display: block;
}

.services__description-subtitle {
  margin: 0;
  margin-bottom: 34px;
}

.services__description-text {
  color: var(--basic-tundora);
}
/* services end */

/* rare-commodity start */
.rare-commodity {
  width: 1160px;
  height: 100px;
  margin: 0 auto;
  margin-bottom: 147px;

  text-align: center;

  background-color: var(--basic-gallery);
}

.rare-commodity__link {
  position: relative;

  display: inline-block;
  width: 1160px;
  height: 100px;
  padding-top: 37px;
  padding-bottom: 43px;
  padding-left: 5px;

  font-weight: 800;
  font-size: 20px;
  line-height: 24px;
  font-family: "Raleway", sans-serif;
  color: var(--basic-black);
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.2em;

  outline: none;
}

.rare-commodity__link:hover {
  background-color: var(--basic-cararra);
}

.rare-commodity__link:focus {
  outline: 5px solid var(--additional-lavender-indigo);
}

.rare-commodity__link:active {
  outline: 0;
  opacity: 0.3;
}

.rare-commodity__link:before,
.rare-commodity__link::after {
  content: "";
  position: absolute;

  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.rare-commodity__link::before {
  top: 0;
  left: 0;

  width: 125px;
  height: 100px;

  background-color: var(--additional-jasmine);
  background-image: url(../images/delivery-car.svg);
}

.rare-commodity__link:hover::before {
  background-color: var(--additional-supernova);
}

.rare-commodity__link::after {
  top: 29px;
  right: 33px;

  width: 40px;
  height: 40px;

  background-color: var(--basic-gainsboro);
  background-image: url(../images/info.svg);
  border-radius: 50%;
  opacity: 0.5;
}

.rare-commodity__link:hover::after {
  opacity: 1;
}
/* rare-commodity end */

/* about-section start */
.about-section {
  position: relative;

  display: flex;
  justify-content: space-between;
  padding-bottom: 73px;
}

.about-us::before,
.contacts::before {
  content: "";
  position: absolute;
  top: -50px;

  display: block;
  width: 80px;
  height: 7px;

  background-color: var(--basic-black);
}

.about-us__link,
.contacts__link {
  width: 260px;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 4px;

  text-align: center;

  outline: none;
}

.about-us__link:active,
.contacts__link:active {
  opacity: 0.3;
}

/* about-us start */
.about-us {
  width: 560px;
}

.about-us__title {
  margin: 0;
  margin-bottom: 46px;
}

.about-us__description {
  margin: 0;
  margin-bottom: 31px;

  color: var(--basic-tundora);
}

.about-us__list {
  margin: 0;
  margin-top: 75px;
  margin-bottom: 58px;
  padding: 0;
  padding-left: 35px;

  list-style-type: none;
}

.about-us__item {
  position: relative;

  margin-bottom: 20px;

  font-weight: 800;
  line-height: 20px;
  letter-spacing: -0.3px;
}

.about-us__item::before {
  content: "";
  position: absolute;
  top: 5px;
  left: -34px;

  display: block;
  width: 8px;
  height: 8px;

  background-color: var(--additional-supernova);
  border-radius: 50%;
}
/* about-us end */

/* contacts start */
.contacts {
  width: 560px;
}

.contacts__title {
  margin: 0;
  margin-bottom: 46px;
}

.contacts__description {
  margin: 0;
  margin-bottom: 31px;

  color: var(--basic-tundora);
}

.contacts__subtitle {
  margin: 0;
  margin-bottom: 15px;

  font-size: 24px;
  color: var(--basic-tundora);
}

.contacts__address {
  margin-bottom: 32px;

  font-style: normal;
}

.contacts__address-text {
  margin: 0;
}

.contacts__tel {
  color: var(--basic-tundora);
}

.contacts__list {
  margin: 0;
  margin-bottom: 53px;
  padding: 0;

  list-style-type: none;
}
/* contacts end */

/* about-section end */

/* distribution start */
.distribution {
  padding-top: 76px;
  padding-bottom: 125px;

  background-color: var(--basic-gallery);
}

.distribution__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 55px;
}

.distribution__title {
  width: 560px;
  margin: 0;
}

.distribution__description {
  width: 560px;
  margin: 0;
  margin-top: 10px;

  color: var(--basic-tundora);
}

.distribution__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.distribution__form {
  display: flex;
}

.distribution__email {
  width: 600px;
  height: 55px;
  padding: 0;
  padding-top: 3px;

  font-size: 18px;
  line-height: 30px;
  font-family: "Rubik", sans-serif;
  color: var(--basic-tundora);

  background-color: transparent;
  border: 0;
  border-bottom: 3px solid rgba(0, 0, 0, 0.1);
  outline: none;
  opacity: 0.5;
}

.distribution__email:focus {
  background-color: var(--basic-gainsboro);
  border-bottom: 3px solid transparent;
}

.distribution__email:hover {
  border-bottom: 3px solid rgba(0, 0, 0, 0.2);
}

.distribution__email:active {
  background-color: transparent;
  border-bottom: 3px solid var(--basic-black);
}

.distribution__email:not(:placeholder-shown) {
  background-color: transparent;
  border-bottom: 3px solid var(--basic-black);
}

/* Состояние ошибки  */
.distribution__email--error {
  border-bottom: 3px solid var(--status-coral-red);
}

.distribution__submit {
  display: block;
  width: 260px;
  padding: 14px 14px;
  padding-left: 17px;

  font-weight: 800;
  font-size: 18px;
  line-height: 20px;
  font-family: "Raleway", sans-serif;
  color: var(--basic-black);
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.2em;

  background-color: transparent;
  border: 3px solid rgba(0, 0, 0, 0.1);
  outline: 0;
}

.distribution__submit:focus {
  border-color: var(--additional-lavender-indigo);
}

.distribution__submit:hover {
  color: var(--basic-white);

  background-color: var(--basic-black);
}

.distribution__submit:active {
  color: rgba(255, 255, 255, 0.3);

  border: 3px solid rgba(0, 0, 0, 0.1);
}

.distribution__text {
  position: relative;

  padding-left: 36px;
}

.distribution__text::before {
  content: "";
  position: absolute;
  top: 7px;
  left: 0;

  width: 14px;
  height: 14px;

  background-image: url(../images/tick-big.svg);
  background-repeat: no-repeat;
}
/* distribution end */

/* main end */

/* footer start */
.footer {
  background-color: var(--basic-tundora);
}

.footer__inner {
  position: relative;

  padding-top: 62px;
  padding-bottom: 61px;
}

.footer__inner::before {
  content: "";
  position: absolute;
  bottom: 86px;
  left: 20px;

  width: 80px;
  height: 7px;

  background-color: var(--additional-supernova);
}

.footer__logo-link {
  display: flex;
  margin-bottom: 36px;
}

.footer__navigation {
  position: relative;

  display: flex;
  margin-bottom: 46px;
}

.footer__navigation-text {
  margin: 0;
  margin-right: 104px;

  font-size: 16px;
  line-height: 20px;
  color: var(--basic-white);
}

.footer__navigation-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-top: -11px;
  padding: 0;

  list-style-type: none;
}

.footer__navigation-item {
  margin-right: -12px;
  padding-top: 10px;
}

.footer__navigation-link {
  padding: 13px 18px;

  font-weight: 800;
  font-size: 18px;
  line-height: 20px;
  font-family: "Raleway", sans-serif;
  color: var(--basic-white);
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.2em;

  border: 2px solid transparent;
  border-radius: 25px;
  outline: 0;
}

.footer__navigation-link:focus {
  border: 2px solid var(--additional-lavender-indigo);
}

.footer__navigation-link:hover {
  color: var(--additional-supernova);
}

.footer__navigation-link:hover::before {
  content: "";
  position: absolute;
  bottom: 6px;

  width: 11%;
  height: 2px;

  background-color: var(--additional-supernova);
}

.footer__navigation-link:active {
  border-color: transparent;
  opacity: 0.3;
}

.footer__navigation-tel {
  position: absolute;
  position: absolute;
  top: 0;
  right: 0;

  display: inline-block;
  margin-right: -16px;
  margin-left: 56px;
  padding: 2px 13px;

  font-size: 16px;
  line-height: 20px;
  color: var(--basic-white);
  text-decoration: none;

  border: 2px solid transparent;
  border-radius: 25px;
  outline: 0;
}

.footer__navigation-tel:focus {
  border: 2px solid var(--additional-lavender-indigo);
}

.footer__navigation-tel:hover {
  color: var(--additional-supernova);
}

.footer__navigation-tel:active {
  border-color: transparent;
  opacity: 0.3;
}

.footer__social-block {
  width: 150px;
  margin: 0 auto;
}

.footer__social {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.footer__social-link {
  position: relative;

  display: inline-block;
  width: 40px;
  height: 40px;

  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  outline: 0;
}

.footer__social-link svg {
  position: absolute;
}

.footer__social-link--fb svg {
  top: 11px;
  left: 16px;
}

.footer__social-link--in svg {
  top: 12px;
  left: 12px;
}

.footer__social-link--tw svg {
  top: 13px;
  left: 13px;
}

.footer__social-link:focus svg path {
  fill: var(--basic-white);
}

.footer__social-link:focus::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;

  display: inline-block;
  width: 45px;
  height: 45px;

  border: 5px solid var(--additional-lavender-indigo);
  border-radius: 50%;
}

.footer__social-link:hover {
  background-color: var(--additional-supernova);
}

.footer__social-link:active svg path {
  opacity: 0.3;

  fill: var(--basic-tundora);
}

.footer__social-link:active::before {
  border-color: transparent;
}

.footer__htmlacademy-link {
  position: absolute;
  right: 8px;
  bottom: 54px;

  padding: 8px;

  border: 2px solid transparent;
  border-radius: 10px;
  outline: 0;
}

.footer__htmlacademy-link:focus {
  border-color: var(--additional-lavender-indigo);
}

.footer__htmlacademy-link:active {
  border-color: transparent;
}

.footer__htmlacademy-link:hover svg path {
  fill: var(--basic-white);
}

.footer__htmlacademy-link:active svg path {
  opacity: 0.3;
}
/* footer end */
